body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f8;
}

header {
    background: #2e8b57;
    color: white;
    text-align: center;
    padding: 25px;
}

main {
    max-width: 500px;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

input,
textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

textarea {
    height: 120px;
}

button {
    width: 100%;
    padding: 12px;
    background: #2e8b57;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#info {
    margin-top: 15px;
    font-weight: bold;
    color: green;
}